@import "../../styles/variables.scss";
@import "../../styles/button.scss";


.registerSection{
    text-align: center;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

    .register{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 5px 5px 22px $secondary-color;
        gap: .4rem;
    
        input{
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 0 10px;
            margin-bottom: 2px;
            &:focus{
                outline: none;
                box-shadow: 0 0 5px $secondary-color;
            }
        }

        select{
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 0 10px;
            margin-bottom: 2px;
            &:focus{
                outline: none;
                box-shadow: 0 0 5px $secondary-color;
            }
        }
        //input type="file"
        input{
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 0 10px;
            margin-bottom: 2px;
            &:focus{
                outline: none;
                box-shadow: 0 0 5px $secondary-color;
            }
        }

    
        .error{
            color: red;
            font-size: 0.8rem;
            margin-top: 1rem;
        }
    
    
    }
