@import "../../styles/variables.scss";
@import "../../styles/button.scss";


.opinion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0.5rem calc((100vw - 768px) / 2);
    transition:0.3s ease padding;
    margin-bottom: 5rem;
    height: 100%;
}