@import "../../styles/variables.scss";
@import "../../styles/button.scss";

.loginSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color:$text-color;
    text-align: center;
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        width: 40%;
        padding: 1rem;
        margin: 1rem auto;
        border-radius: 8px;
        box-shadow: 5px 5px 22px $secondary-color;
        @media (max-width: 768px) {
            width: 80%;
        }
        @media (max-width: 280px) {
            width: 100%;
        }
    
        input{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 0 10px;
            margin-bottom: 10px;
            &:focus{
                outline: none;
                box-shadow: 0 0 5px $secondary-color;
            }
        }
       
        .error{
            color: red;
            font-size: 0.8rem;
            margin-top: 1rem;
        }  
    
    }
    
    .register{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        width: 40%;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 5px 5px 22px $secondary-color;
        @media (max-width: 768px) {
            width: 80%;
        }
        @media (max-width: 280px) {
            width: 100%;
        }
        p{
            font-size: 0.8rem;
            color: $text-color-dark;
            margin-bottom: 1rem;
        }
        
    }

