@import "../../styles/variables.scss";

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    transition:0.3s ease padding;
    height: 70vh;
    margin: .4rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,2);
    border-radius: 0.5rem;
    @media (min-width: 768px) {
        width: 60%;
    }
   
   
    .profileHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1920px;
        transition:0.3s ease padding;
        
        .profileHeaderAvatar{
            background: linear-gradient(90deg, #ff9966, #ff5e62);
            width: 7rem;
            height: 7rem;
            cursor: pointer;
            padding: .3rem;
            border-radius: 50%;
            @media (min-width: 700px){
                width: 8rem;
                height: 8rem;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        h2{
            margin: 1rem 0;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        } 
        
    }
    
    p{
        
        font-size: 1.2rem;
        font-weight: bold;
        
    } 
        
    }


    .editBtn {
        margin-left: .3rem;
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        touch-action: manipulation;
    
        .shadow {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 12px;
         background: hsl(0deg 0% 0% / 0.25);
         will-change: transform;
         transform: translateY(2px);
         transition: transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
        }
        
        .edge {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 12px;
         background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
          );
        }
        
        .front {
         display: block;
         position: relative;
         padding: .5rem  .5rem .3rem .5rem;
         border-radius: 12px;
         font-size: 1.1rem;
         color: white;
         background: hsl(345deg 100% 47%);
         will-change: transform;
         transform: translateY(-4px);
         transition: transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
        }
        .editBtn:hover {
         filter: brightness(110%);
        }
        
        .editBtn:hover .front {
         transform: translateY(-6px);
         transition: transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
        }
        
        .editBtn:active .front {
         transform: translateY(-2px);
         transition: transform 34m
        }
        
        .editBtn:hover .shadow {
         transform: translateY(4px);
         transition: transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
        }
        
        .editBtn:active .shadow {
         transform: translateY(1px);
         transition: transform 34ms;
        }
        
        .editBtn:focus:not(:focus-visible) {
         outline: none;
        }
       }
