@import "../../styles/variables.scss";

.header{
    height: $header-height; 
    width: 100%;
    background-color: $primary-color;
    position: fixed;
    box-shadow: 0px 2px 4px $secondary-color;
   
       &__content{
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 $spacing-medium;
        @include breakpoint(md){
            padding: 0 $spacing-large;
        }
        transition:0.3s ease padding;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
       }
       img{
        width: 150px;
       }

       &__login{

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 35px;
            position: relative;
            background: #f3f0f1;
            border-radius: 32px;
            text-align: center;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            span {
              font-size: 1rem;
            }
            &:nth-child(1) {
              box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                6px 6px 10px rgba(0, 0, 0, 0.2);
              color: $text-color-dark;
              &:hover {
                opacity: 0.3;
                box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                  6px 6px 10px rgba(0, 0, 0, 0.2);
              }
              &:active {
                opacity: 1;
                box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
                  inset 8px 8px 16px rgba(0, 0, 0, 0.1);
                color: $primary-color;
              }
            }
            &:nth-child(2) {
              opacity: 0.3;
              box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                6px 6px 10px rgba(0, 0, 0, 0.2);
              color: $primary-color;
            }
            &:nth-child(3) {
              box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
                inset 8px 8px 16px rgba(0, 0, 0, 0.1);
              color: $secondary-color;
              &:hover {
                opacity: 1;
                box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
                  6px 6px 10px rgba(0, 0, 0, 0.2);
              }
            }
          }

       }



       
}