@import "../../styles/variables.scss";
@import "../../styles/button.scss";

.header{
    height: 5rem;; 
    width: 100%;
    background-color: $primary-color;
    box-shadow: 0px 2px 4px $secondary-color;
    transition:0.3s ease padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1024px) / 2);
    margin: 0 auto;
    max-width: 1920px;

    img{
      width: 50vmin;
      cursor: pointer;
      height: 100%;
    }
  
}