@import "../../styles/variables.scss";

.register{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 22px $secondary-color;
    gap: .4rem;

    input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
        margin-bottom: 10px;
        &:focus{
            outline: none;
            box-shadow: 0 0 5px $secondary-color;
        }
    }

    button{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: $secondary-color;
        color: $text-color-dark;
        font-weight: bold;
        font-size: 1rem;
        font-family: $ubuntu-font;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
    .error{
        color: red;
        font-size: 0.8rem;
        margin-top: 1rem;
    }


}