@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$ubuntu-font:'Ubuntu', sans-serif;

$primary-color: #FEF9A7;
$secondary-color: #FAC213;
$text-color: #fff;
$text-color-dark: #D61C4E;






